.status-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #46be32;
  border-radius: 100%;
  box-shadow: 0 0 0 2px var(--app-sidebar);
  right: 0;
  top: 2px;
  z-index: 2;
}
