.main__content-body__messages {
  background-color: #fff;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;

  .messages__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &-chat__title {
      font-family: 'Gilroy-Medium', serif;
      font-size: 18px;
      .chat__title-conv {
        display: flex;
        align-items: center;
        &__name {
          margin-right: 8px;
        }
      }
    }
    &-chat__status {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #fff;
      display: block;
      background-color: #dadada;
      margin-left: 8px;
      &.online {
        background-color: #46be32;
      }
    }
    .chat__header-title {
      display: flex;
      align-items: center;
    }
  }
  .messages__body {
    position: relative;
    flex: 1;
    overflow: auto;

    scrollbar-color: #606060 transparent;

    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #f0f2f5;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: #979797;
    }
    .messages {
      flex: 1;
      padding: 8px 32px 16px 32px;
      color: #231f20;
      .message {
        margin-bottom: 16px;
      }
      &__empty-block {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #979797;
        .empty__icon {
          font-size: 64px;
        }
      }
    }
  }
  .messages-input {
    margin: 0 32px;
    padding: 16px;

    &__send {
      margin-left: 8px;
    }
  }
}
.chat__header-btn {
  position: absolute;
  display: none;
  align-items: center;
  right: 8px;
  width: 26px;
  height: 26px;
  span,
  span::before,
  span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3a456b;
    z-index: 99;
    transition-duration: 0.25s;
  }
  span::before {
    content: '';
    top: 8px;
  }
  span::after {
    content: '';
    top: -8px;
  }
  span {
    &.active {
      transform: rotate(45deg);
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
      &::before {
        top: 0;
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .main__content-body__messages {
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .chat__header-btn {
    display: flex;
  }
}
