.main__content-body__messages {
  background-color: var(--app-background);
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;

  .messages__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &-chat__title {
      font-family: 'Gilroy-Medium', serif;
      font-size: 18px;
      .chat__title-conv {
        display: flex;
        align-items: center;
        &__name {
          margin-right: 8px;
        }
      }
    }
    &-chat__status {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #fff;
      display: block;
      background-color: #dadada;
      margin-left: 8px;
      &.online {
        background-color: #46be32;
      }
    }
    .chat__header-title {
      display: flex;
      align-items: center;
      .ant-avatar-group .ant-avatar {
        border: none;
      }
    }
  }
  .messages__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    .messages__screen {
      height: 100%;
      overflow: auto;
      scrollbar-color: #606060 transparent;
      display: flex;
      flex-direction: column-reverse;
      .messages__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 8px 32px 16px 32px;
        color: var(--app-messages-text);
        .message {
          margin-bottom: 16px;
        }
      }

      .messages {
        overflow: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      &::-webkit-scrollbar-track {
        border-radius: 4px;
      }
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #f0f2f5;
      }
      &:hover::-webkit-scrollbar-thumb {
        background: #979797;
      }
      scrollbar-width: thin;
      scrollbar-color: rgba(90, 90, 90, 0);
      transition: scrollbar-color 0.3s ease;
      -webkit-overflow-scrolling: touch;
      pointer-events: auto;
    }
    .scroll__button {
      position: absolute;
      display: flex;
      bottom: -60px;
      right: 32px;
      width: 45px;
      height: 45px;
      background: rgba(233, 231, 231, 0.3);
      backdrop-filter: blur(10px);
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
      z-index: 999;
      cursor: pointer;
      transition: all 1s ease;
      &.active {
        bottom: 8px;
        transition: all 0.5s ease;
        animation: alternate;
      }
      .svg {
        .rect {
          stroke: var(--app-accent-text);
        }
      }
    }
  }
  .messages-input {
    margin: 0 32px;
    padding: 16px;

    &__send {
      margin-left: 8px;
    }
  }
  .messages__empty-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--app-button);
    .empty__icon {
      font-size: 64px;
    }
  }
}
.chat__header-btn {
  cursor: pointer;
  position: absolute;
  display: none;
  align-items: center;
  right: 8px;
  width: 26px;
  height: 26px;
  span,
  span::before,
  span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--app-accent-text);
    z-index: 99;
    transition-duration: 0.25s;
  }
  span::before {
    content: '';
    top: 8px;
  }
  span::after {
    content: '';
    top: -8px;
  }
  span {
    &.active {
      transform: rotate(45deg);
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
      &::before {
        top: 0;
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .main__content-body__messages {
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .chat__header-btn {
    display: flex;
  }
}
