.message {
  display: flex;
  $self: &;
  &--isme {
    flex-direction: row-reverse;
    #{$self}__avatar {
      margin-left: 8px;
    }
    #{$self}__content {
      &-bubble {
        border-radius: 16px 16px 0px 16px;
        background-color: rgba(229, 229, 229, 0.85);
        box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2);
        color: #3a456b;
        .message__audio-progress {
          border-radius: 16px 16px 0px 16px;
          background-color: #039be5;
        }
        .message__audio-btn {
          z-index: 9;
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            svg {
              .path {
                stroke: #3a456b;
              }
            }
          }
        }
        .message__audio-wave {
          .svg {
            .path {
              fill: #3a456b;
            }
          }
        }
      }
      &-date {
        align-self: end;
      }
    }
  }
  &__avatar {
    margin-right: 8px;
    margin-bottom: 24px;
    align-self: flex-end;
  }
  &__content {
    display: flex;
    flex-direction: column;
    &-bubble {
      background-color: #4568e8;
      max-width: 360px;
      padding: 10px;
      color: #ffffff;
      font-size: 14px;
      box-shadow: 1px 2px 4px rgba(69, 104, 232, 0.6);
      border-radius: 16px 16px 16px 0px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;
      overflow: hidden;

      p {
        margin: 0;
        word-break: break-word;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      &__attachments {
        display: flex;
        margin-top: 8px;
        .ant-image {
          display: flex;
          border-radius: 8px;
          overflow: hidden;
          margin: 0 4px;
          max-height: 160px;
          flex: 1;
          img {
            object-fit: cover;
          }
        }
      }
      .message__audio-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .message__audio-wave {
          display: flex;
          margin: 0 8px;
        }
        .message__audio-btn {
          z-index: 9;
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .path {
            stroke: #ffffff;
          }
        }
        .message__audio-duration {
          z-index: 9;
        }
        .ant-btn {
          padding: 0;
        }
      }
      .message__audio-progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #3a456b;
        border-radius: 16px 16px 16px 0px;
        opacity: 0.3;
        transition: all 0.1s ease;
      }
    }

    &-date {
      margin-top: 8px;
      font-size: 10px;
      color: rgba(151, 151, 151, 1);
    }
  }
}
