@import '../../styles/vars';

.message {
  display: flex;
  animation: ainm 0.25s ease-out;
  transition: all 1s ease;
  transform-origin: left;
  transform: scale(1) translateX(0);
  $self: &;
  &--isme {
    flex-direction: row-reverse;
    transform-origin: right;
    #{$self}__avatar {
      margin-left: 8px;
    }
    #{$self}__content {
      &-bubble {
        border-radius: 16px 16px 0 16px;
        background: var(--app-message-bubble);
        box-shadow: -1px 2px 4px var(--app-message-shadow);
        color: var(--app-accent-text);

        .message__audio-progress {
          border-radius: 16px 16px 0 16px;
          background-color: #039be5;
        }
        .message__audio-btn {
          z-index: 9;
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            svg {
              .path {
                stroke: var(--app-accent-text);
              }
            }
          }
        }
        .message__audio-wave {
          .svg {
            .path {
              fill: var(--app-accent-text);
            }
          }
        }
      }
      &-date {
        align-self: end;
      }
    }
  }
  &__avatar {
    margin-right: 8px;
    margin-bottom: 24px;
    align-self: flex-end;
  }
  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    &-bubble {
      background: var(--app-partner-bubble);
      max-width: 360px;
      padding: 10px;
      color: var(--app-partner-text);
      font-size: 14px;
      box-shadow: 1px 2px 4px var(--app-message-shadow);
      border-radius: 16px 16px 16px 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: relative;
      overflow: hidden;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;

      p {
        margin: 0;
        word-break: break-word;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      &__attachments {
        display: flex;
        margin-top: 8px;
        .ant-image {
          display: flex;
          border-radius: 8px;
          overflow: hidden;
          margin: 0 4px;
          max-height: 160px;
          flex: 1;
          img {
            object-fit: cover;
          }
        }
      }
      .message__audio-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .message__audio-wave {
          display: flex;
          margin: 0 8px;
        }
        .message__audio-btn {
          z-index: 9;
          button {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .path {
            stroke: #ffffff;
          }
        }
        .message__audio-duration {
          z-index: 9;
        }
        .ant-btn {
          padding: 0;
        }
      }
      .message__audio-progress {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: var(--app-accent-text);
        border-radius: 16px 16px 16px 0;
        opacity: 0.3;
        transition: all 0.1s ease;
      }
    }

    &-date {
      margin-top: 8px;
      font-size: 10px;
      color: rgba(151, 151, 151, 1);
    }
    &-read__status {
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
      &.unread {
        background-color: var(--app-button-hover);
      }
    }
  }
}
.server__message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  font-family: Gilroy-Medium, serif;
  color: #a4a4a4;
  p {
    margin: 0 8px;
    flex: 0 0 auto;
  }
  span {
    height: 1px;
    background-color: #a4a4a4;
    width: 100%;
  }
}

@keyframes ainm {
  0% {
    opacity: 0;
    transform: scale(0) translateX(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5) translateX(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
