.home-page {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  width: 1280px;
  box-shadow: 1px 0px 6px rgba(13, 28, 46, 0.25);

  .main__content {
    width: 100%;
    .chat__header {
      background-color: #fff;
      padding: 24px 10px;
      height: 80px;
      border-bottom: 1px solid rgba(229, 229, 229, 0.85);
    }
    &-body {
      display: flex;
      height: 100%;
    }
  }
}

.profile__page {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  &-user {
    position: relative;
    flex: 0 1 50%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__avatar {
      margin-bottom: 16px;
    }
    &__info {
      background: #fafafa;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
      padding: 8px;
      width: 100%;
      .user__info-item {
        margin: 8px 0px;
      }
      .user__name {
        font-size: 24px;
      }
      span {
        margin: 0 8px;
      }
    }
    .social__links-list {
      display: flex;
      margin: 16px 0;
    }
    .social__links-item {
      margin: 0 8px;
    }
  }
  &-edit__btn {
    position: absolute;
    right: 16px;
  }
  .ant-upload.ant-upload-select-picture-card {
    border: none;
  }
}

.ant-modal {
  .modal__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__info {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .form__button {
      align-self: center;
    }
  }
  .form__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    &-input {
      flex: 0 0 70%;
    }

    &-label {
      flex: 0 0 auto;
    }

    &.info {
      margin-top: 16px;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 32px;
      .form__item-label {
        margin: 8px 0;
      }
      .form__item-input {
        width: 100%;
      }
    }
  }
}

.upload {
  img {
    cursor: pointer;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
