.home-page {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  width: 1280px;
  box-shadow: 1px 0px 6px rgba(13, 28, 46, 0.25);

  .main__content {
    width: 100%;
    .chat__header {
      background-color: #fff;
      padding: 24px 10px;
      height: 80px;
      border-bottom: 1px solid rgba(229, 229, 229, 0.85);
    }
    &-body {
      display: flex;
      height: 100%;
    }
  }
}

.profile__page {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px;
  &-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__avatar {
      margin-bottom: 16px;
    }
    &__info {
      background: #fafafa;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
      padding: 8px;
    }
  }
}
