.home-page {
  height: 100vh;
  padding: 0 284px;
  display: flex;
  .sidebar {
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 32px 0;
    width: 64px;
    .user__profile-link {
      margin-bottom: 32px;
    }
    &__navigation {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .nav-group {
        margin: 0;
        &__item {
          margin-bottom: 16px;
        }
      }
    }
  }
  .main__content {
    width: 100%;
    .chat__header {
      background-color: #fff;
      padding: 24px 10px;
      height: 80px;
      border-bottom: 1px solid rgba(229, 229, 229, 0.85);
    }
    &-body {
      display: flex;
      height: 100%;
      &__leftbar {
        overflow: auto;
        width: 270px;
        background-color: #f8f9ff;
        display: flex;
        flex-direction: column;
        .leftbar__header {
        }

        .leftbar__body {
          flex: 1 1 auto;
          border-right: 1px solid rgba(229, 229, 229, 0.85);
          .leftbar__chats {
            &-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 16px 10px;
              .chats__title {
                font-size: 14px;
                font-family: 'Gilroy-Medium';
              }
            }
            &-body {
              .chats__item {
                margin-bottom: 4px;
                padding: 8px;
                background-color: #fff;
                display: flex;
                &:hover {
                  background-color: #f8f9ff;
                  cursor: pointer;
                }
                &-avatar {
                  border: 2px solid #fff;
                  border-radius: 50%;
                  margin-right: 8px;
                }
                &-body {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  .chats__item-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .item-name {
                      font-size: 14px;
                      font-family: 'Gilroy-Bold';
                      margin: 0;
                    }
                    .item-date {
                      font-size: 9px;
                    }
                  }
                  .chats__item-bottom {
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;
                    .item__message {
                    }
                    .conv__sender {
                      color: #276aa5;
                      margin-right: 4px;
                    }
                  }
                  .chats__item-bottom.conv {
                    justify-content: start;
                  }
                }
              }
            }
          }
        }
      }
      &__rightbar {
        width: 270px;
        background-color: #fcfcfc;
        display: flex;
        flex-direction: column;

        .rightbar__header {
          display: flex;
          justify-content: flex-end;
        }
        .rightbar__body {
          border-left: 1px solid rgba(229, 229, 229, 0.85);
          padding: 32px 0;
          flex: 1 1 auto;
          &.rightbar__dialog {
            display: flex;
            flex-direction: column;
            .rightbar__dialog-companion__info {
              display: flex;
              flex-direction: column;
              margin: 0 auto;
              align-items: center;
              padding: 0 48px;
              padding-bottom: 32px;
              border-bottom: 1px solid rgba(58, 69, 107, 0.5);
              .companion__pers-info {
                margin: 24px 0 16px 0;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .companion__name {
                  font-family: 'Gilroy-Bold';
                }
                span {
                  font-size: 12px;
                  &.online {
                    color: #46be32;
                  }
                }
              }
              .companion__social-links {
                display: flex;
                width: 100%;
                justify-content: space-around;
              }
            }
            .rightbar__dialog-companion__attachs {
              padding: 32px 0;
              .attachs__header {
                display: flex;
                padding: 0 10px;
                justify-content: space-between;
                margin-bottom: 24px;
                &-title {
                  font-family: 'Gilroy-Bold';
                  color: rgba(58, 69, 107, 0.5);
                }
                &-icon {
                  cursor: pointer;
                  .icon {
                    width: 16px;
                    height: 16px;
                  }
                }
              }
              .attachs__list {
                &-item {
                  display: flex;
                  justify-content: space-between;
                  padding: 8px 10px;
                  align-items: center;
                  &:hover {
                    background-color: #f8f9ff;
                  }
                  &__prevIcon {
                  }
                  &__body {
                    font-size: 12px;
                    .item__body-top {
                      p {
                        margin: 0;
                      }
                    }
                    .item__body-bottom {
                      display: flex;
                      justify-content: space-between;
                    }
                  }
                  &__download {
                    width: 24px;
                    #rect {
                      stroke: #979797;
                    }
                    &:hover {
                      cursor: pointer;
                      #rect {
                        stroke: #276aa5;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &__messages {
        background-color: #fff;
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;

        .messages__header {
          display: flex;
          align-items: center;
          justify-content: center;
          &-chat__title {
            font-family: 'Gilroy-Medium';
            font-size: 18px;
          }
          &-chat__status {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 1px solid #fff;
            display: block;
            background-color: #dadada;
            margin-left: 8px;
            &.online {
              background-color: #46be32;
            }
          }
        }
      }
      .messages__body {
        flex: 1;
        .messages {
          flex: 1;
        }
      }
    }
  }
}
