.chats__item {
  margin-bottom: 4px;
  padding: 8px;
  background-color: var(--app-dialog-color);
  display: flex;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--app-dialog-hover-color);
    cursor: pointer;
  }
  &-avatar {
    border: 2px solid var(--app-dialog-color);
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    display: inline-block;
    .status-dot {
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: #46be32;
      border-radius: 100%;
      box-shadow: 0 0 0 2px #fff;
      right: 0;
      top: 2px;
      z-index: 2;
    }
    .messages-count {
      position: absolute;
      left: -4px;
      bottom: -4px;
      color: #fff;
      height: 16px;
      width: 16px;
      background-color: var(--app-messages-count);
      border-radius: 100%;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--app-accent-text);
    overflow: hidden;
    flex-wrap: wrap;
    .chats__item-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item-name {
        font-size: 14px;
        font-family: 'Gilroy-Bold', serif;
        margin: 0;
      }
      .item-date {
        font-size: 10px;
      }
    }
    .chats__item-bottom {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      flex-wrap: wrap;
      width: 100%;
      min-width: 0;
      position: relative;
      .item__message {
        display: flex;
        max-width: 100%;
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
        }
      }

      .conv__sender {
        font-family: Gilroy-Medium;
        margin-right: 4px;
      }
      .item__status {
        right: 2px;
        width: 6px;
        height: 6px;
        background-color: #979797;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .chats__item-bottom.conv {
      justify-content: start;
    }
  }
}
