.messages__input-group {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
  .messages-input {
    padding: 16px 0 16px 0;
    border-top: 1px solid rgba(58, 69, 107, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    flex: 1;
    &__buttons {
      display: flex;
      .uploadInput {
        .ant-upload-list {
          position: absolute;
          top: 70px;
          display: flex;
          .ant-upload-span {
            max-width: 100px;
            position: relative;
            .ant-upload-list-item {
              position: relative;
            }
            .ant-upload-list-item-card-actions {
              position: absolute;
              top: -10px;
              left: 50%;
              transform: translate(-25%);
            }
            .ant-upload-list-item-thumbnail {
              width: 100px;
              height: 100px;
              img {
                width: 100px;
                height: 100px;
              }
            }
          }
        }
      }

      #icon {
        stroke: #979797;
      }
      .button__icon {
        padding: 0 4px;
        margin: 0 -2px;
        &:hover {
          cursor: pointer;
          #icon {
            stroke: #276aa5;
          }
        }
      }
    }
    &__textarea {
      margin: 0 0 0 24px;
      flex: 1;
      padding: 8px 0;
      .textfield {
        border: none;
        outline: none;
        padding: 0;
        padding-right: 8px;
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &::-webkit-scrollbar-track {
          border-radius: 4px;
        }
        &::-webkit-scrollbar {
          width: 6px;
          height: 12px;
          cursor: pointer;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background: #f0f2f5;
        }
        &:hover::-webkit-scrollbar-thumb {
          background: #979797;
        }
      }
    }
    &.pt-80 {
      padding-bottom: 80px;
    }
    .message-input__audio {
      background-color: #e5e5e5;
      padding: 2px;
      border-radius: 8px;
      width: 100%;

      display: flex;
      .audio__message {
        height: 32px;
        width: 100%;
        border-radius: 8px;
        padding: 4px;
      }
    }
  }
  .uploaded__files {
    width: 100%;
    padding: 0 32px;
  }
  .message__audio {
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 8px 8px 8px 0;
    background-color: #e5e5e5;
    margin: 32px;
    width: 100%;
    overflow: hidden;
    canvas {
      height: 32px;
      width: inherit;
      margin: 0 16px;
    }
  }
  .ant-upload-list-picture .ant-upload-list-item,
  .ant-upload-list-picture-card .ant-upload-list-item {
    border: none;
    margin: 0;

    overflow: hidden;
  }
  .ant-upload-list-text .ant-upload-list-item-name,
  .ant-upload-list-picture .ant-upload-list-item-name {
    display: none;
  }
}
