.main__content-body__rightbar {
  width: 270px;
  background-color: var(--app-sidebar);
  display: flex;
  flex-direction: column;
  animation: ainm 0.25s ease-in-out;

  .rightbar__header {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
  }
  .rightbar__body {
    border-left: 1px solid var(--app-border);
    padding: 32px 0;
    flex: 1 1 auto;
    &.rightbar__dialog {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .rightbar__dialog-companion__info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        padding: 0 32px 32px 32px;
        border-bottom: 1px solid var(--app-input-border);
        .companion__pers-info {
          margin: 24px 0 16px 0;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .companion__name {
            font-family: 'Gilroy-Bold';
          }
          span {
            font-size: 12px;
            &.online {
              color: #46be32;
            }
          }
        }
      }
    }
    &.rightbar__conversation {
      padding: 0 8px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .rightbar__conversation {
        &-header {
          padding: 16px 4px;
          font-family: Gilroy-Medium;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &-add__btn {
          display: flex;
          .ant-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0;
          }
        }
      }

      .rightbar__conversation-creator {
        .conversation-member__item {
          &__name {
            border-bottom: 2px solid var(--app-border);
          }
        }
      }

      .rightbar__conversation-members {
        height: 100%;
        overflow: auto;
      }
      .conversation-member__item {
        display: flex;
        align-items: center;
        padding: 8px;
        height: 64px;
        &__name {
          margin-left: 8px;
          flex: 1;
          border-bottom: 1px solid var(--app-border);
          height: 100%;
          display: flex;
          align-items: center;
          font-family: Gilroy-Medium;
        }
        &__avatar {
          position: relative;
        }
        &__control {
          .icon {
            cursor: pointer;
            &:hover {
              .rect {
                stroke: var(--app-button-hover);
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes ainm {
  0% {
    opacity: 0;
    right: -500px;
  }
  25% {
    opacity: 0.2;
    right: -450px;
  }
  50% {
    opacity: 0.4;
    right: -350px;
  }
  75% {
    opacity: 0.6;
    right: -250px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

@media screen and (max-width: 1025px) {
  .main__content-body__rightbar {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 9;
    transition: all 0.25s ease;
  }
}
