.ant-modal-body {
  .add-dialog-form {
    margin-bottom: 16px;
    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
      .ant-select-selector {
      box-shadow: none;
    }

    .ant-select {
      .ant-select-selector {
        border: none;
        .ant-select-selection-overflow {
          width: 100%;
          &-item {
            width: 100%;
            .ant-select-selection-item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 8px;
              height: 100%;
              &-content {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-right: 8px;
                align-items: center;
              }
            }
          }
        }
      }
      &-focused {
        .ant-select-selector {
          border: none !important;
          box-shadow: none;
        }
      }
    }
    &-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }
  }
}

.add-dialog-form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0 16px 0;
  border-top: 1px solid rgba(57, 68, 106, 0.5);
  position: relative;
  flex: 1;

  .messages-input__send {
    display: flex;
    align-items: center;
  }

  .textfield {
    border: none;
    outline: none;
    padding: 0 8px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 12px;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #f0f2f5;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: #979797;
    }
  }
}

.modal__result {
  margin-bottom: 16px;
  align-items: center;
  padding: 8px 0;
  &-col {
    display: flex;
    justify-content: space-between;
    &__name {
      margin-left: 8px;
      font-weight: 600;
    }
    &__status {
      color: #46be32;
    }
  }
}

.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100%;
}

.ant-select-item-option-content {
  display: flex;
  justify-content: space-between;
}
