.dialog__modal {
  color: var(--app-accent-text);
}

.add-dialog-form__input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0 16px 0;

  position: relative;
  flex: 1;

  .messages-input__send {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  .textfield {
    border: none;
    outline: none;
    padding: 0 8px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 12px;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #f0f2f5;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: #979797;
    }
  }
}

.modal__result {
  margin-bottom: 16px;
  align-items: center;
  padding: 8px 0;
  &-col {
    display: flex;
    justify-content: space-between;
    &__name {
      margin-left: 8px;
      font-weight: 600;
      color: var(--app-accent-text);
    }
    &__status {
      color: var(--app-border);
      &.online {
        color: #46be32;
      }
    }
  }
}

.ant-select-dropdown {
  background-color: var(--app-leftbar) !important;
  color: var(--app-accent-text) !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--app-sidebar) !important ;
  color: var(--app-accent-text);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--app-background) !important;
}

.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  height: 100%;
}

.ant-select-item-option-content {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
}
