.main__content-body__rightbar {
  width: 270px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;

  .rightbar__header {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
  }
  .rightbar__body {
    border-left: 1px solid rgba(229, 229, 229, 0.85);
    padding: 32px 0;
    flex: 1 1 auto;
    &.rightbar__dialog {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .rightbar__dialog-companion__info {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        padding: 0 64px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(58, 69, 107, 0.5);
        .companion__pers-info {
          margin: 24px 0 16px 0;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .companion__name {
            font-family: 'Gilroy-Bold';
          }
          span {
            font-size: 12px;
            &.online {
              color: #46be32;
            }
          }
        }
      }
    }
    &.rightbar__conversation {
      padding: 0 8px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .rightbar__conversation-header {
        padding: 16px;
        font-family: Gilroy-Medium;
        text-align: center;
        h3 {
          text-align: center;
          font-family: Gilroy-Bold;
        }
      }

      .rightbar__conversation-members {
        height: 100%;
        overflow: auto;
        .conversation-member__item {
          display: flex;
          align-items: center;
          padding: 8px;
          height: 64px;
          &__name {
            margin-left: 8px;
            flex: 1;
            border-bottom: 1px solid #efefee;
            height: 100%;
            display: flex;
            align-items: center;
            font-family: Gilroy-Medium;
          }
          &__avatar {
            position: relative;
          }
          &__control {
            .icon {
              cursor: pointer;
              &:hover {
                .rect {
                  stroke: #276aa5;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .main__content-body__rightbar {
    position: absolute;
    display: none;
    height: 100%;
    z-index: 9;
    transition: all 0.5s ease;
    &.active {
      right: 0;
    }
  }
}
