.main__content-body__leftbar {
  width: 290px;
  background-color: #f8f9ff;
  display: flex;
  flex-direction: column;
  .leftbar__header {
    .top-bar__search {
      input {
        &:focus {
          border-color: inherit;
          box-shadow: none;
          border-color: #979797;
        }
        &:hover {
          border-color: #979797;
        }
      }
    }
  }

  .leftbar__body {
    flex: 1 1 auto;
    border-right: 1px solid rgba(229, 229, 229, 0.85);
    overflow: auto;
    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #f0f2f5;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: #979797;
    }

    .leftbar__chats {
      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 10px;
        .chats__title {
          font-size: 14px;
          font-family: 'Gilroy-Medium';
        }
      }
      &-body {
        a.active {
          .chats__item {
            background-color: #276aa5e5;
            color: #fafafa;
          }
        }
      }
    }
  }
}
