.main__content-body__leftbar {
  width: 290px;
  background-color: var(--app-leftbar);
  display: flex;
  flex-direction: column;
  .leftbar__header {
    .top-bar__search {
      input {
        background-color: var(--app-background);
        border-color: var(--app-leftbar);
        color: var(--app-accent-color);
        &:focus {
          box-shadow: none;
          border-color: var(--app-button);
        }
        &:hover {
          border-color: var(--app-button);
        }
      }
    }
  }

  .leftbar__body {
    flex: 1 1 auto;
    border-right: 1px solid var(--app-border);
    overflow: auto;
    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #f0f2f5;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: #979797;
    }

    .leftbar__chats {
      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 10px;
        .chats__title {
          font-size: 14px;
          font-family: 'Gilroy-Medium';
        }
        .chats__control {
          .ant-btn {
            height: 0;
          }
        }
      }
      &-body {
        a.active {
          .chats__item {
            background: var(--app-partner-bubble);

            &-body {
              color: var(--app-dialog-text);
            }
          }
        }
      }
    }
    .ant-space {
      height: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .main__content-body__leftbar {
    width: 64px;
    .leftbar__body {
      .leftbar__chats {
        &-header {
          display: flex;
          justify-content: center;
          .chats__title {
            display: none;
          }
        }
        &-body {
          .chats__item {
            display: flex;
            justify-content: center;
            &-body {
              display: none;
            }
            &-avatar {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .main__content-body__leftbar {
    position: absolute;
    z-index: 12;
    height: 100vh;
  }
}
