.App {
  .ant-space {
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    background: var(--app-background);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 99;
  }
}

.ant-spin-dot-item {
  background-color: #4568e8;
}
