$accentColor: #4568e8;
$darkenAccent: #3a456b;

$lightMessageBubble: linear-gradient(90deg, rgba(245, 245, 247, 0.85) 0%, rgba(245, 245, 247, 0.442) 100%);
$accentMessageBubble: linear-gradient(90deg, rgba(17, 90, 233, 0.84) 0%, rgba(116, 40, 240, 0.89) 100%);
