@import './vars';

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url('../fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy'), url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy'), url('../fonts/Gilroy-Light.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

.app-logo {
  position: absolute;
  font-size: 24px;
  font-family: 'Gilroy-Medium';
  top: 48px;
  left: 64px;
  color: $darkenAccent;
}

button.app-icon {
  background: none !important;
  padding: 0;
  .icon {
    &:hover {
      .rect {
        stroke: #276aa5;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

#root {
  background-color: #edfcfe;
  color: #001424;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

.ta-center {
  text-align: center;
}

.main__content-body__messages {
  position: relative;
  .emoji-picker {
    position: absolute;
    bottom: 74px;
    left: 32px;
  }
}
